body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d19ca1;
    text-align: center;
    padding: 20px;

}
.task {
    background-color: #2c8b78;
    width: 300px;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(70, 144, 108, 0.1);
}

.tarea-done {
    text-decoration: line-through;
    color: gray;
    background-color: #f0f0f0;
    
}
button {
    margin-left: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#tasks {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

